<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Phần Mềm Quản Lý Phân Phối Vé Số</a>
    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links navbar-right">


        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <!--
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                        </div>

                    </li>
                    -->

                <li>
                    <a href="/Home"><i class="fa fa-dashboard fa-fw"></i> Trang Chủ</a>
                </li>

                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Chức Năng Quản Lý<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Quản Lý Thông Tin <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/VeSo">- Quản Lý Vé Số</a>
                                </li>
                                <li>
                                    <a href="/DaiLy">- Quản Lý Đại Lý</a>
                                </li>
                                <li>
                                    <a href="/Giai">- Quản Lý Giải Thưởng</a>
                                </li>
                                <li>
                                    <a href="/HoaHong">- Quản Lý Hoa Hồng</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Quản Lý Kinh Doanh <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="/SoLuongDangKy">- Quản Lý Lượng Đăng Ký</a>
                                </li>
                                <li>
                                    <a href="/PhanPhoi">- Quản Lý Đợt Phát Hành</a>
                                </li>
                                <li>
                                    <a href="/KetQua">- Quản Lý Kết Quả Số Xố</a>
                                </li>
                                <li>
                                    <a href="/CongNo">- Quản Lý Công Nợ</a>
                                </li>
                                <li>
                                    <a href="/PhieuThu">- Quản Lý Phiếu Thu</a>
                                </li>
                                <li>
                                    <a href="/PhieuChi">- Quản Lý Phiếu Chi</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>