
CREATE PROCEDURE PROC_PHANPHOI_CALC_SLGIAO
	@MADL INT
AS
BEGIN
		DECLARE @SOLUONGDANGKI INT, 
				@PHANTRAMBAN FLOAT
		SELECT TOP 1 @SOLUONGDANGKI=SLDANGKY 
		FROM SOLUONGDANGKY 
		WHERE MADL=@MADL 
		ORDER BY NGAY DESC
		SELECT @PHANTRAMBAN=AVG(1.0*SLBAN/SLGIAO) 
		FROM 
			(SELECT TOP(3) * 
			FROM PHANPHOI 
			WHERE MADL=@MADL 
			ORDER BY NGAY DESC ) AS ITEM
		IF (@PHANTRAMBAN IS NULL) 
			RETURN @SOLUONGDANGKI
		ELSE 
			RETURN @PHANTRAMBAN*@SOLUONGDANGKI
END
GO

DECLARE @SOLUONGGIAO INT
EXEC @SOLUONGGIAO = PROC_PHANPHOI_CALC_SLGIAO 1
PRINT @SOLUONGGIAO